<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BurgerLyfe</title>
    {{!-- insert fonts here --}}
    {{!-- insert material design here --}}
    {{!-- insert custom css here --}}
</head>
<body>
    {{{ body }}}
    {{!-- insert jquery here --}}
    {{!-- insert framework js here --}}
    {{!-- insert custom js here --}}
</body>
</html>